<footer class="footer text-center">
  <span class="bigger-120">
    <span class="blue bolder">ICT</span>
    Chaiyaphum Provincial Health Office © 2018
  </span>

  &nbsp; &nbsp;
  <span class="action-buttons">
    <a href="#">
      <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
    </a>

    <a href="https://www.facebook.com/ictcpho2013/" target="_blank">
      <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
    </a>

    <a href="#">
      <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
    </a>
  </span>

  <span style="float:right;">
    พัฒนาโดย ::
    <a class="tooltips tooltip-info" data-original-title="Facebook" href="https://www.facebook.com/manoth1" target="_blank">
      นายมาโนชญ์ กลางพิลา
    </a>
  </span>
</footer>